# Dependencies
node_modules/

# Build output
dist/

# Test/coverage
coverage/

# Env
.env
.env.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# PGS test fixtures (copyrighted Blu-ray extracts)
*.sup
fixtures/*.sup